{#
 # Header component
 # Usage example:
 #      {{ include('_header.html.twig') }}
 #}
<div class="header">
    <img src="{{ asset("/images/notebook.svg") }}" class="header-pic"/>
    <span class="header-heading">
        AirBnb App
    </span>
</div>